#content{
  background: transparent;
  flex: 1;
  padding: 0.5em;
  overflow: auto;
}

#loader{
  display: block;
  margin: 0 auto;
}

#imagesWrapper{
  transition: all 0.5s ease-in-out;
}

#imagesWrapper.hide{
  /* opacity: 0;
  transform: translateY(200px) */
}

#imagesWrapper:not(.hide).change{
  transition: none;
  animation: change 0.5s ease-in-out;
}

@keyframes change{
  20%{
    opacity: 0;
  }
  
  50%{
    opacity: 0;
    transform: translateY(200px)
  }
  100%{
      transform: none;
      opacity: 1;
  }
}