.App-header {
    z-index: 20;
    background: #fff;
    position: relative;
    overflow: hidden;
    height: 115px;
    max-height: 115px;

    transition: max-height 0.5s ease-out;
}

.App-header.loading{
    max-height: 65px;
    transition: none;
}

.App-header:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ccc;
}

.App-header.fixed{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.App-header #toolbar{
    margin: 0.7em 0.5em;
    display: flex;
    align-items: center;
}

.App-logo {
    height: 35px;
    margin-right: 0.8em;
}

.App-title{
    font-size: 20px;
    margin-left: 0.7em;
    display: none;
}

#searchWrapper{
    position: relative;
    flex: 1;
    border-radius: 20px;
    overflow: hidden;
    background: #00f;
}

#searchWrapper button{
    position: absolute;
    top: 0;
    right: 0.8em;
    bottom: 0;
    margin: auto 0;
    background: #ddd;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.App-header input{
    border: 0.5px solid transparent;
    background: #eaeaea;
    min-width: 0;
    width: 100%;
    font-size: 15px;
    line-height: 20px;
    padding: 0.6em 1.25em;
    padding-bottom: 0.7em;
    outline: none;
    transition: all 0.25s ease-out;
}

.App-header input:focus{
    border-color:rgba(92, 174, 167, 0.91);
    background: #fff;
}

.App-header button:not(.tab){
    position: relative;
    border: none;
    background: #b8d6d3;
    color: #203f3c;
    font-size: 13px;
    line-height: 0;
    padding: 0 0.6em;
    height: 30px;
    border-radius: 2px;
    margin-left: 1em;
    outline: none;
    display: flex;
    align-items: center;
}

#tabs{
    display: flex;
    overflow: hidden;
    transition: all 0.3s ease-out;
}

.App-header.loading #tabs{
    opacity: 0;
    transform: translateY(-20%);
    transition: none;
}

#tabs button{
    display: block;
    flex: 1;
    padding: 1em 1.25em;
    text-align: center;
    letter-spacing: 0.1em;
    color: #777;
    margin: 0;
    margin-bottom: -1px;
    background: transparent;
    border: none;
    border-bottom: 3px solid transparent;
    max-width: 150px;
    font-size: 0.98em;
    position: relative;
    outline: none;

    transition: all 0.35s ease-out;
}

#tabs button.active{
    color: #109b8f;
    border-bottom-color: currentColor;
}

#tabs button:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    transform: scaleX(0);
    margin: 0 auto;
    background: currentColor;
    opacity: 0.1;
}

#tabs button.ripple:after{
    animation: ripple 0.25s ease-in-out;
}

@keyframes ripple{
    0%{
        opacity: 0.1;
        transform: scaleX(0)
    }
    100%{
        transform: scaleX(1)
    }
}