*{
  user-select: none;
}

#Login{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 90;
}

#title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

#Login img{
  width: 90px;
  margin: auto 0;
}

#Login h2{
  color: #979797;
  text-align: center;
}

#Login button{
  width: 100%;
  background: #999;
  border: none;
  border-radius: 3px;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 0.5em 0;
  padding: 0.5em;
  background: #4d4d4d;
  color: #121212;
  outline-color: #6b6b6b;
}

#form{
  /* position: fixed; */
  /* bottom: 0; */
  /* left: 0; */
  /* width: 100vw; */
  flex-shrink: 0;
  padding: 1em 1.2em;
  background: rgba(255, 255, 255, 0.14);
  color: #9f9f9f;
}

.form-group{
  display: flex;
  align-items: center;
  padding: 1em 0;
}

.form-group label{
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 0.85em;
  margin-right: 20px;
}

.form-group input{
  padding: 0.5em;
  padding-bottom: 0.6em;
  font-size: 20px;
  flex: 1;
  border: none;
  background: #2f2f2f;
  color: #aeaeae;
  margin-right: 0.5em;
}

.form-group input{
  outline: none;
}