.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.App-logo {
  height: 35px;
}

.App-header {
  padding: 0.7em 0.5em;
  z-index: 20;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.App-title{
  font-size: 20px;
  margin-left: 0.7em;
  display: none;
}

.App-header button{
  border: none;
  background: #b8d6d3;
  color: #203f3c;
  margin-left: auto;
  font-size: 13px;
  line-height: 11px;
  padding: 0.7em 0.6em;
  border-radius: 2px;
}

.App-header input{
  border: 1.5px solid transparent;
  min-width: 0;
  max-width: 1000px;
  flex: 1;
  background: #eaeaea;
  margin-left: 0.8em;
  margin-right: 1em;
  font-size: 15px;
  line-height: 20px;
  padding: 0.6em 1.25em;
  border-radius: 20px;
  outline: none;
}

.App-header input:focus{
  border-color: #cfdbda;
  background: #ecf0f0;
}

main{
  flex: 1;
  padding: 0.5em;
  overflow: auto;
  background: #f5f5f5;
}

.my-masonry-grid {
  display: flex;
  margin-left: -0.5em; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 0.5em; /* gutter size */
  background-clip: padding-box;
}

.my-masonry-grid_column > .meme-gif {
  background: #ddd;
  border: 1px solid #777;
  margin-bottom: 0.5em;
}

.my-masonry-grid_column > .meme-gif img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.my-masonry-grid_column > .meme-gif:nth-child(even) {
  background: #becac8;
}